:root{
    --body-background:#F2AA4CFF;
    --wrapper-shadow:rgba(0,0,0,0.2);
    --menu-item-color:rgba(0,0,0,0.65);
    --indicator-transition:cubic-bezier(0.45,0.73,0,0.59) .3s;
    --bottom-bar-transition:cubic-bezier(0.57,0.23,0.08,0.96) .45s;
    --wrapper-background:#333 url("img/my_face.jpeg") no-repeat center center /cover;
    --bottom-bar-image:radial-gradient(circle at 40px 6px,transparent 40px,#fff 41px);
    --bottom-bar-filter:drop-shadow(0px -1px 6px rgba(0,0,0,0.08)) drop-shadow(0px -2px 12px rgba(0,0,0,0.12));
}
html{
    box-sizing: border-box;
}
*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--body-background);
}
body .wrapper{
    position: relative;
    width: 400px;
    height: 500px;
    border-radius: 5px;
    background:var(--wrapper-background);
    box-shadow: 0 20px 25px var(--wrapper-shadow);
}
.wrapper .bottom-bar{
    position: absolute;
    display: flex;
    padding: 16px 36px;
    justify-content: space-between;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 70px;
    font-size: 26px;
    border-radius:0 0 5px 5px ;
    filter:var(--bottom-bar-filter);
    background-image: var(--bottom-bar-image);
    transition: var(--bottom-bar-transition);
}
.bottom-bar .nav-indicator{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 28px;
    margin: auto;
    left: 10px;
    border-radius: 50%;
    background-color: #000;
    box-shadow: var(--main-cast-shadow);
    transition: var(--indicator-transition);
}
.bottom-bar .menu-item{
    color: var(--menu-item-color);
    transition: ease-in-out;
    cursor: pointer;
}
.bottom-bar .select-current{
    transform: translate3d(0px,-20px,0px);
    position: relative;
    color: #fff;
    z-index: 3;
}